.select{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 25px;
}

.select #paper{
     background-color: var(--clr-btnred);
     font-size: 40px;
     color: white;
     padding: 25px 120px 25px 120px;
     border-radius: 13px;
     margin-right: 20px;
     cursor: pointer;
}

.select #rock{
    background-color: var(--clr-btnred);
     font-size: 40px;
     color: white;
     padding: 25px 120px 25px 120px;
     border-radius: 13px;
     margin-right: 20px;
     cursor: pointer;
}

.select #scissor{
    background-color: var(--clr-btnred);
     font-size: 40px;
     color: white;
     padding: 25px 90px 25px 90px;
     border-radius: 13px;
     cursor: pointer;
}