:root{
    --clr-grey: #c1c0c0;
    --clr-btnred: #ce242d;
    --clr-textred: #992525;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--clr-grey);
}

.score{            
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 20px;
}

.result{
    display: flex;
    justify-content: center;
    color: var(--clr-textred);
    font-size: 50px;
    transform: translateY(40px);
}

.img{
    mix-blend-mode: multiply;
    background-color: transparent;
    height: 2px;
    width: 2px;
}

.img #image{
    height: 22rem;
    width: 22rem;
    margin: 6rem 0rem 0rem 38rem;
}

img .paper{
    height: 2px;
    width: 2px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 30px;
    margin-top: 29rem;
}

